In [143]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bsoup
import urllib.request as urllib2
import json
pd.options.mode.chained_assignment = None

url = 'https://en.wikipedia.org/wiki/List_of_chief_executive_officers'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
df = df[['Company', 'Executive', 'Title', 'Since']]
df['Executive'] = df['Executive'].str.replace(" ", "%20")
df

,Company,Executive,Title,Since
0,Accenture,Julie%20Sweet,CEO[1],2019
1,Aditya Birla Group,Kumar%20Birla,Chairman[2],1995[2]
2,Adobe Systems,Shantanu%20Narayen,"Chairman, president and CEO[3]",2007
3,Agenus,Garo%20H.%20Armen,"Founder, chairman, CEO[4]",1994
4,Airbus,Guillaume%20Faury,CEO[5],2012
...,...,...,...,...
174,"Williams-Sonoma, Inc.",Laura%20J.%20Alber,President and CEO[161],2010
175,Wipro Technologies Limited,Abidali%20Neemuchwala,CEO[162],2016
176,WWE,Vince%20McMahon,Chairman and CEO[163],2009
177,Yum! Brands,Greg%20Creed,CEO[164],2015
178,Zillow Group,Rich%20Barton,CEO[165],2019

In [144]:
df.to_csv('df.csv', index=False)

In [11]:
import cv2
import numpy as np
from skimage import io
from skimage import color

img = color.rgb2gray(io.imread('images/tester.png')[:, :, :-1])
average = img.mean(axis=0).mean(axis=0)
average

0.14959174778586828